.container{
    border: 2px solid tomato;
    display: flex;
    justify-content: space-around;
    height: 300px;
    /*flex-direction: row-revese;*/
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.box{
    width: 50px;
    height: 50px;
    border: 2px dotted salmon;
    margin: 10px;
}