.container{
    border: 2px solid tomato;
    display: flex;
    justify-content: space-around;
    height: 300px;
    /*flex-direction: row-revese;*/
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.box{
    width: 50px;
    height: 50px;
    border: 2px dotted salmon;
    margin: 10px;
}
.grid{
    border: 2px solid purple;
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    /* grid-template-columns: repeat(3,200px); */
    grid-template-columns: repeat(6,1fr);
    justify-content: space-evenly;
}
.gbox{
     width: 50px;
    height: 50px; 
    border: 2px solid green;
    margin: 10px;
}
.container-date{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 2px solid salmon;
    margin-top: 20px;
    row-gap: 20px;
    column-gap: 10px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    

}
.date,.day{

    width: 50px;
    height: 50px;
    /* margin: 10px; */
    border-radius: 5px;
    text-align: center;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 8px 5px 6px #999999;
}
 
.day{
    background-color: rgb(241, 240, 240);
    font-family: serif;
    box-shadow: 8px 5px 8px #00FF00;
    

}
@media screen min-width(576px) {

    
}